.about-page {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .hero-section {
    background-color: #1E90FF;
    color: white;
    padding: 60px 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 40px;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #0e0f0f;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #373434;
  }
  
  .features-section {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .features-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
  }
  
  .feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .feature-card:hover {
    transform: translateY(-10px);
  }
  
  .feature-icon {
    font-size: 3rem;
    color: #FF6347;
    margin-bottom: 10px;
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .feature-card p {
    font-size: 1rem;
    color: #555;
  }
  
  .our-mission-section {
    background-color: #e0f7fa;
    padding: 40px 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .our-mission-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .our-mission-section p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .team-section {
    text-align: center;
  }
  
  .team-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .team-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .team-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
  }
  
  .team-card img {
    border-radius: 50%;
    margin-bottom: 20px;

  }
  
  .team-card h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .team-card p {
    font-size: 1rem;
    color: #555;
  }
  .mail-{
    height: 35px;
  }
  .call-{
    height: 35px;
  }